<!-- header partial -->
<nav class="navbar pt-4" style="box-shadow: 0px 5px 3px -2px #28a745;">
    <span class="navbar-brand mb-0 h1 text-white px-4" style="font-size: 30px;">Game Sales</span>
    <div class="d-flex flex-row-reverse">
        <a class="navbar-brand text-white border border-light border-top-0 p-2 rounded-bottom"  href="./steamsales">Steam Sales</a>
        <a class="navbar-brand text-white border border-light border-top-0 p-2 rounded-bottom" href="/">Homepage</a>
    </div>
</nav>