<main class="text-white py-5"> 
    <div class="bg-success p-4 rounded">
        <h3>What is Game Sales?</h3>
        <h4 class="lead"><strong>A website with all game sales!</strong></h4>
        <p class="pt-2" style="font-size: 17px;">Game Sales is part of a project. It is made using Node, Express, API(s) and Bootstrap.</p>
        <p style="font-size: 17px;">
            Game Sales' purpose is to be a easy place to check what kind of sales different online game platforms have. 
            At the moment, it is only showing what sales Steam has, in an alphabetical order. To my knowledge, the API shows the prices in USD.
        </p>
    </div>
    <div class="bg-success p-4 mt-3 rounded">
        <h3>The future of Game Sales</h3>
        <p class="pt-2" style="font-size: 17px;">I plan on building this project bigger. I would like to include as many online game platforms as possible, 
            so it would be easy to check on which platform the game is cheapest at that moment. S far I have not found similar APIs 
            for other game platforms such as the one for Steam, so it might take awhile.
        </p>
    </div>
</main>