<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
    </head>
    <body class="container bg-dark">
        <%- include ("../partials/header") %>
        <main>
            <div class="card my-4 mx-auto bg-dark border border-success" style="width: 23rem; box-shadow: 0px 5px 5px 3px #28a745;">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41i9Ym3lGWL._SL160_.jpg" alt="image of game">
                <div class="car-body">
                    <div class="row">
                        <h5 class="card-title col-sm p-3 text-white" style="font-size: 23px;">Game Title</h5>
                        <div class="col-sm ">
                            <p class="d-flex justify-content-end px-3 py-3 text-success" style="font-size: 25px;"><strong>14,15€</strong></p>
                            <p class="d-flex justify-content-end px-3 text-muted"><s>20,99€</s></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include ("../partials/footer") %>
    </body>
</html>
